<div *ngIf="produit" class="content">
  <h2>{{ produit.id }} {{ produit.nom }}</h2>
  <p>Texture: {{ produit.texture }}</p>
  <p>Grammge: {{ produit.grammage }}</p>
  <p>Prix: {{ produit.prix }}</p>
  <p>Couleur: {{ produit.couleur }}</p>
</div>
<div *ngIf="!produit">Produit introuvable</div>

<form [formGroup]="produitForm" (ngSubmit)="onSubmit()" class="content">
  <div>
    <label for="nom">Nom du produit</label>
    <input id="nom" formControlName="nom">
    <div style="color:red" *ngIf="shouldShowError('nom')">Le nom est requis</div>
  </div>
  <div>
    <label for="texture">Texture du produit</label>
    <input id="texture" formControlName="texture">
  </div>
  <div>
    <label for="grammage">Grammage du produit</label>
    <input id="grammage" formControlName="grammage">
  </div>
  <div>
    <label for="prix">Prix du produit</label>
    <input id="prix" formControlName="prix">
  </div>
  <div>
    <label for="couleur">Couleur du produit</label>
    <input id="couleur" formControlName="couleur">
  </div>
  <button type="submit" [disabled]="!produitForm.valid">Sauvegarder</button>
  <button (click)="onClick()">Cancel</button>
</form>
