<div class="container">


  <div *ngIf="produit && !isEditing" class="content product-details">

    <h1 class="title-details"><u>Détails du produit</u></h1>
    <h2>{{ produit.id }} {{ produit.nom }}</h2>
    <p>Texture: {{ produit.texture }}</p>
    <p>Grammge: {{ produit.grammage }}</p>
    <p>Prix: {{ produit.prix }}</p>
    <p>Couleur: {{ produit.couleur }}</p>
    <button (click)="onClick()">Modifier le produit</button>
  </div>
  <div *ngIf="!produit" class="product-not-found">Produit introuvable</div>



  <form
    *ngIf="isEditing"
    [formGroup]="produitForm"
    (ngSubmit)="onSubmit()"
    class="content product-form"
  >

  <h1 class="title"><u>Modifier un produit</u></h1>
    <div>
      <label for="nom" class="label-modif">Nom du produit</label>
      <input id="nom" formControlName="nom" />
      <div style="color: red" *ngIf="shouldShowError('nom')">
        Le nom est requis
      </div>
    </div>
    <div>
      <label for="texture" class="label-modif">Texture du produit</label>
      <input id="texture" formControlName="texture" />
    </div>
    <div>
      <label for="grammage" class="label-modif">Grammage du produit</label>
      <input id="grammage" formControlName="grammage" />
    </div>
    <div>
      <label for="prix" class="label-modif">Prix du produit</label>
      <input id="prix" formControlName="prix" />
    </div>
    <div>
      <label for="couleur" class="label-modif">Couleur du produit</label>
      <input id="couleur" formControlName="couleur" />
    </div>
    <button type="submit" [disabled]="!produitForm.valid">Sauvegarder</button>
    <button (click)="onClick()">Cancel</button>
  </form>
</div>
