/* Réinitialisation de quelques styles par défaut */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  //gap: 20px; /* Ajoute de l'espace entre les colonnes */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Assure que tout reste dans les coins arrondis */
  margin-top: 1em;
}

.left-content {
  flex: 1;
  background: #2c3e50; /* Couleur de fond plus foncée pour le contraste */
  color: #ffffff; /* Texte blanc pour la lisibilité */
  padding: 40px; /* Plus d'espacement */
}

.left-content h2, .left-content h3 {
  margin-bottom: 20px;
}

.left-content p {
  margin-bottom: 10px;
  font-size: 18px; /* Agrandir le texte pour la lisibilité */
}

.horaires-title {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.icon {
  display: inline-block; /* Assurez-vous que la police d'icônes est chargée */
  vertical-align: middle;
  margin-right: 10px;
}

.horaires-list {
  list-style-type: none;
  padding-left: 0;
}

.horaires-list li {
  background: rgba(255, 255, 255, 0.1); /* Légère arrière-plan pour chaque élément de liste */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.right-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  //padding: 40px;
  //padding: 0 50px;
}

.right-content img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Coins arrondis pour l'image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-section{
  margin-top: 1em;
  margin-bottom: 1em;

}
