<div class="content">
  <div class="left-content">
    <div class="contact-section">
      <h1  class="title-section">Nous contacter</h1>
      <div class="contact-info">
        <h3 class="horaires-title">
          <span class="icon">
            <i class="material-icons">
              phone_iphone
              </i>
          </span>
          Nous appeler</h3>
        <p>(+33) 06 06 06 06 06</p>
      </div>
      <div class="contact-info">
        <h3>Nous écrire</h3>
        <p>25 rue du papier 00000 Papier-Ville</p>
      </div>
      <div class="horaires">
        <h3 class="horaires-title title-section">
          <span class="icon">
            <i class="material-icons">access_time</i>
          </span>
          Nos horaires
        </h3>
        <ul class="horaires-list">
          <li>Du lundi : 9h - 12h et 14h - 18h</li>
          <li>Mardi : 9h - 12h et 14h - 18h</li>
          <li>Mercredi : 9h - 12h et 14h - 18h</li>
          <li>Jeudi : 9h - 12h et 14h - 18h</li>
          <li>Vendredi : 9h - 12h et 14h - 18h</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-content">
    <img src="../../../assets/image/contact.jpg" alt="feuille" />
  </div>
</div>
