<div class="content">
  <div class="left-content">
    <div class="contact-section">
      <h1  class="title-section">Nous contacter</h1>
      <div class="contact-info">
        <h3 class="horaires-title">
          <span class="icon">
            <i class="material-icons">
              phone_iphone
              </i>
          </span>
          Nous appeler</h3>
        <p>(+33) 06 06 06 06 06</p>
      </div>
      <div class="contact-info">
        <h3>Nous écrire</h3>
        <p>341 Rue de la Papeterie, 38400 Saint-Martin-d'Hères
        </p>
      </div>
      <div class="horaires">
        <h3 class="horaires-title title-section">
          <span class="icon">
            <i class="material-icons">access_time</i>
          </span>
          Nos horaires
        </h3>
        <ul class="horaires-list">
          <li>Du lundi : 9h - 12h et 14h - 18h</li>
          <li>Mardi : 9h - 12h et 14h - 18h</li>
          <li>Mercredi : 9h - 12h et 14h - 18h</li>
          <li>Jeudi : 9h - 12h et 14h - 18h</li>
          <li>Vendredi : 9h - 12h et 14h - 18h</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-content">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.031151195999!2d5.769239176691712!3d45.18646565192619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5a23522b2a5%3A0xafea312baeabc3b6!2s341%20Rue%20de%20la%20Papeterie%2C%2038610%20Gi%C3%A8res!5e0!3m2!1sfr!2sfr!4v1706689841617!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
