//couleur
$couleurFond : #141c28;
$couleurTexte : #ffffff;

//police
$policeArrondie: 'Arial Rounded MT Bold', sans-serif;


body {
  background-color: $couleurFond;
  font-family: $policeArrondie;
  color : $couleurTexte;
}

.content {
  padding-top: 3em;
}
